@charset "UTF-8";

/* base */
body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }
img {
  width: 100%;
  vertical-align: bottom;
}
figure {
  margin: 0;
}
ul,li,dl,dt,dd {
  list-style: none;
}
a { 
  transition: all .6s ease;
}
a:hover { 
  transition: all .6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}
section h2 {
  font-size: 2rem;
}

/* ヘッダー */
.hamburger, .open-menu {
  display: none;
}
.header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 1;
}
.header h1 {
  margin: 0 0 0 30px;
  font-size: 2.5rem;
  color: #fff;
}
.header nav ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.header nav ul li {
  margin: 0 20px;
}
header nav li a {
  color: #fff;
}
header nav li a:hover {
  opacity: 0.6;
}
.header nav li.phone {
  margin: 0 30px 0 10px;
  padding: 0 25px;
  border: 1px solid #fff;
  line-height: 50px;
  display: block;
  color: #fff;
}

/* ページトップ */
#page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #003a75;
  border-radius: 50%;
  z-index: 10;
}
#page-top a {
  display: block;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

/* メインビジュアル */
.main-visual {
  position: relative;
}
.main-visual img {
  height: 700px;
  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
.main-visual h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 5vw;
  color: #fff;
}

/* トピック */
.topics {
  /* margin-top: 150px; */
  padding: 120px;
  position: relative;
}
.topics::after {
  content: "";
  background-color: #f3f3f3;
  height: 110%;
  width: 30%;
  position: absolute;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(30deg);
  z-index: -1;
}
.topics .content-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.topics .heading {
  width: 35%;
  position: relative;
}
.topics .content {
  width: 65%;
}
.topics .content table {
  width: 100%;
  margin: 0 0 25px 0;
}
.topics .content th {
  padding: 20px 2em 20px 0;
  border-bottom: 1px dotted;
}
.topics .content td {
  border-bottom: 1px dotted;
}
.topics .content .btn {
  margin: 0;
}
.topics .content .btn a {
  display: block;
  font-size: 0.8rem;
  color: #000;
  border: 1px solid #000;
  width: 200px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 0 auto;
}
.topics .content .btn a:hover {
  background:  #333;
  color: #fff;
}

/* 施設案内 */
.institution {
  background: url(../images/photo-1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;
}
.institution::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.3);
}
.institution .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.institution h2 {
  color: #fff;
  text-align: left;
}
.institution p {
  color: #fff;
  text-align: left;
  margin-bottom: 70px;
}
.institution p.btn {
  margin: 0;
}
.institution p.btn a {
  color: #fff;
  display: block;
  font-size: 0.875rem;
  border: 1px solid #fff;
  width: 200px;
  line-height: 60px;
  text-align: center;
}
.institution p.btn a:hover {
  background: #fff;
  color: #333;
}

/* 採用情報 */
.recruit {
  padding: 10% 0;
  position: relative;
}
.recruit::after {
  content: "";
  background-color: #f3f3f3;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(-30deg);
  z-index: -1;
}
.recruit ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: skewY(2deg);
}
.recruit ul li {
  width: 48%;
  position: relative;
}
.recruit ul li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 43%;
  background: rgba( 50, 50, 50, 0.7);
  z-index: 1;
  transition: all .6s ease;
}
.recruit ul li a:hover figure::after {
  background: rgba( 50, 50, 50, 0.4);
  transition: all .6s ease;
}
.recruit li span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-2deg);
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

/* 問い合わせ */
.contact {
  width: 100%;
  height: 500px;
  background: url(../images/photo2-1.jpeg);
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.3);
}
.contact ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}
.contact li {
  width: 300px;
  margin: 0 50px;
}
.contact li a {
  border: 1px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
}
.contact li a:hover {
  background: #fff;
  color: #333;
}

/* フッター */
.footer section {
  padding-top: 120px;
}
.footer .high {
  border-bottom: 1px solid #333;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .high h1 {
  font-size: 1.5rem;
}
.footer .high ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 25px;
}
.footer .high li a {
  color: #333;
  padding: 0 25px;
}
.footer .high li a:hover {
  opacity: 0.6;
}
.footer .low {
  padding: 25px 0 80px 0;
  color: #333;
}
.footer .low span {
  padding-left: 1em;
}
.footer section p {
  color: #333;
  text-align: center;
  font-size: 0.75rem;
}

/* プラグイン修正 */
.bx-wrapper {
  margin: 0;
  border: 0;
  box-shadow: none;
  background: none;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 0;
}


@media screen and (max-width: 1199px) {
  /* ヘッダー */
  header nav, .open-menu {
    display: none;
  }
  .hamburger {
    display: block;
    position:absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 26px;
    cursor: pointer;
    margin-right: 30px;
  }
  .nav-btn, .nav-btn span {
    display: inline-block;
    transition: all .5s;
    box-sizing: border-box;
  }
  .nav-btn {
    position: relative;
    width: 30px;
    height: 26px;
  }
  .nav-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
  .nav-btn span:nth-of-type(1) {
    top: 0;
  }
  .nav-btn span:nth-of-type(2) {
    top: 11px;
  }
  .nav-btn span:nth-of-type(3) {
    bottom: 0;
  }
  #btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
  }
  #btn01.active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn01.active span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(45deg);
    transform: translateY(-11px) rotate(45deg);
  }

  /* .open-menuに#openがついたら */
  .open {
    background-color: #333;
    display: block;
    height: 100vh;
    text-align: center;
    font-size: 5vh;
    padding-top: 100px;
    z-index: 10;
  }
  .open nav ul li {
    margin: 20px;
  }
  .open nav li a {
    color: #fff;
  }
  .open nav li a:hover {
    opacity: 0.6;
  }

  /* メインビジュアル */
  .main-visual img {
    height: auto;
  }

  /* トピック */
  .topics {
    padding: 50px 5vw;
  }
  .topics::after {
    left: 20%;
  }
  .topics .content-wrapper {
    display: block;
  }
  .topics .heading {
    width: 100%;
  }
  .topics .heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }
  .topics .content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .topics {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }
  .topics::after {
    left: -100px;
  }
  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
  .topics .content th {
    padding: 0;
    border: none;
    font-size: 0.8rem;
  }
  .topics .content tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  /* 採用情報 */
  .recruit ul {
    transform: none;
  }
  .recruit li span {
    transform: translate(-50%,-50%);
    font-size: 1.75rem;
  }

  /* フッター */
  .footer section {
    padding-top: 50px;
  }
  .footer .high {
    flex-direction: column;
    text-align: center;
  }
  .footer .high ul {
    justify-content: start;
    margin: 15px 0px;
  }
  .footer .high li {
    width: calc(100%/3);
    margin: 0 0 10px;
  }
} 
@media screen and (max-width: 479px) {
  .topics .content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }
  .topics .content td {
    display: block;
    width: 100%;
  }

  .institution .content {
    left: 50%;
    transform: translate( -50%, -50%);
  }
  .institution h2,p {
    text-align: center;
  }
  .institution p.btn a {
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
  }

  .recruit ul li {
    width: 90%;
    margin: 0 auto 20px auto;
  }

  .footer .high h1,.low {
    text-align: center;
  }
} 