@charset "UTF-8";
@import "_reset";  //リセット
@import "_base";  //サイト全体の設定
@import "_variables"; //変数
@import "_mixin"; //

// ヘッダー
.hamburger,
.open-menu {
  display: none;
  
}

.header {
  @include flex;
  height: 100px;
  position: absolute;
  z-index: 10;
  padding: 0 30px;

  h1 {
    font-size: 2.5rem;
    color: #fff;
  }

  nav ul {
    @include flex;
    font-size: 1.2rem;
    li {
      margin: 0 20px;

      a {
        color: #fff;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .phone {
    padding: 0 25px;
    border: 1px solid #fff;
    line-height: 50px;
    display: block;
    color: #fff;
  }
}

// ページトップ
#page-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 50px;
  background: #003a75;
  border-radius: 50%;
  z-index: 5;

  a {
    display: block;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
}

/* メインビジュアル */
.main-visual {
  position: relative;

  img {
    height: 700px;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 85%);
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 5vw;
    color: #fff;
  }
}

/* トピック */
.topics {
  padding: 120px;
  position: relative;

  &::after {
    content: "";
    background-color: #f3f3f3;
    height: 130%;
    width: 30%;
    position: absolute;
    top: -20%;
    left: 30%;
    transform-origin: left top;
    transform: skewX(30deg);
    z-index: -1;
  }

  .content-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .heading {
    width: 35%;
    position: relative;
  }

  .content {
    width: 65%;

    table {
      width: 100%;
      margin: 0 0 25px 0;

      th {
        padding: 20px 2em 20px 0;
        border-bottom: 1px dotted;
      }

      td {
        border-bottom: 1px dotted;
      }
    }
    .btn {
      @include btn(#333, #fff, #333);
      width: 200px;
      font-size: 0.875rem;
      margin-left: auto;
    }
  }
}

/* 施設案内 */
.institution {
  background: url(../images/content.jpg);
  @include background;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    h2 {
      color: #fff;
      text-align: left;
    }

    p {
      color: #fff;
      text-align: left;
      margin-bottom: 70px;
    }
    .btn {
      @include btn(#fff, #333, #fff);
      width: 200px;
      font-size: 0.875rem;
    }
  }
}

/* 採用情報 */
.recruit {
  padding: 10% 0;
  position: relative;

  &::after {
    content: "";
    background-color: #f3f3f3;
    height: 160%;
    width: 40%;
    position: absolute;
    top: -10%;
    left: 30%;
    transform-origin: left top;
    transform: skewX(-30deg);
    z-index: -1;
  }

  ul {
    @include flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    transform: skewY(2deg);

    li {
      width: 48%;
      position: relative;

      figure::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 43%;
        background: rgba(50, 50, 50, 0.7);
        z-index: 1;
        transition: all .6s ease;
      }

      span {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(-2deg);
        z-index: 2;
        color: #fff;
        font-size: 2rem;
        text-align: center;
      }

      a:hover figure::after {
        background: rgba(50, 50, 50, 0.4);
        transition: all .6s ease;
      }
    }
  }
}

/* 問い合わせ */
.contact {
  width: 100%;
  height: 500px;
  background: url(../images/contact.jpg);

  @include background;
  position: relative;
  @include flex;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  ul {
    @include flex;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    
    li {
      @include btn(#fff, #333, #fff);
      width: 300px;
      margin: 0 50px;
      font-size: 1.25rem;
    }
  }
}

/* フッター */
.footer {
  padding-top: 120px;
  .high {
    @include flex;
    border-bottom: 1px solid #333;
    h1 {
      font-size: 1.5rem;
    }
    ul {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      li a {
        color: #333;
        padding: 0 25px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .low {
    padding: 25px 0 80px 0;
    color: #333;

    span {
      padding-left: 1em;
    }
  }
  p {
    text-align: center;
    font-size: 0.75rem;
  }
}



/* 施設案内ページ */
.sv-company {
  @include sub-visual;
  background-image: url(../images/fv-company.jpg);
}

.work-description01,
.work-description02 {
  margin: 100px;

  dl {
    width: 100%;
    position: relative;

    img {
      width: 60%;
      height: 400px;
      object-fit: cover;
    }

    dd {
      width: 60%;
      position: absolute;
      top: 30%;
      right: 0;
      background-color: #fff;
      padding: 20px 30px;
      box-shadow: 1px 1px 10px 1px #666;
      line-height: 1.8;
      z-index: 2;
    }
  }
}

.work-description02 {
  dt {
    display: flex;
    justify-content: flex-end;
  }

  dd {
    top: 40%;
    left: 0%;
  }
}

/* 採用情報 */
.sv-recruit {
@include sub-visual;
background-image: url(../images/sv-recruit.jpg);
}


/* お問い合わせ */
.sv-contact {
  @include sub-visual;
  background-image: url(../images/sv-contact.jpg);
}

.form-content {
  margin: 100px 100px 0;

  dl {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px dotted #676767;

    &:first-of-type {
      border-top: 1px dotted #676767;
    }
    dt {
      width: 200px;
      box-sizing: border-box;
    }
    input,
    select,
    textarea {
      font-size: 1rem;
      color: #777;
      border: 1px solid #555;
      background-color: #f5f5f5;
      box-sizing: border-box;
      padding: 5px;
    }
  }

  .name dd input,
  .furigana dd input,
  .tel dd span,
  .zip dd span  {
    margin: 0 20px;
  }

  .mail dd input,
  .address dd input {
    width: 700px;
  }

  .pref dd select {
    width: 200px;
  }

  textarea {
    width: 300px;
    height: 140px;
    line-height: 2em;
    padding: 5px;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;

    input {
      display: block;
      width: 250px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      background-color: #333;
      border: 1px solid #333;
      margin: 0 15px;
      cursor: pointer;
      transition: .3s ease all;

      &:hover {
        background-color: transparent;
        color: #333;
        transition: .3s ease all;
      }
    }
  }
}
