@charset "UTF-8";
@import "_reset";  //リセット
@import "_base";  //サイト全体の設定
@import "_parts"; //パーツ
@import "_mixin"; //mixin定義


// ヘッダー
.header {
  @include flex;
  height: 100px;
  position: absolute;
  z-index: 10;
  padding: 0 30px;

  h1 {
    font-size: 2.5rem;
    color: #fff;
  }

  nav ul {
    @include flex;
    font-size: 1.2rem;
    li {
      margin: 0 20px;
      a {
        color: #fff;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .phone {
    padding: 0 25px;
    border: 1px solid #fff;
    line-height: 50px;
    display: block;
    color: #fff;
  }
}

// メインビジュアル
.main-visual {
  position: relative;

  img {
    height: 700px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 85%);
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 5vw;
    color: #fff;
  }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 36px;
    }
  }
}

// トピック
.topics {
  padding: 120px;
  position: relative;
  @include topics-bg;

  .content-wrapper {
    display: flex;
  }

  .heading {
    width: 35%;
    position: relative;
  }

  .content {
    width: 65%;

    table {
      width: 100%;
      margin: 0 0 25px 0;

      th {
        padding: 20px 2em 20px 0;
        border-bottom: 1px dotted;
      }

      td {
        border-bottom: 1px dotted;
      }
    }
    .btn {
      @include btn(#333, #fff, #333);
      width: 200px;
      font-size: 0.875rem;
      margin-left: auto;
    }
  }
  @media screen and (max-width: 1199px) {
    padding: 50px 5vw;
    &::after {
    left: 10%;
    }
    .content-wrapper {
      display: block;
      .heading {
        width: 100%;
        h2 {
          text-align: center;
          margin-bottom: 5vw;
        }
      }
      .content {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
    &::after {
      left: -100px;
    }
    .content .btn a {
      width: 35%;
      min-width: 200px;
      margin: 0 auto;
      th {
        padding: 0;
        border: none;
        font-size: 0.8rem;
        tr {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
        }
      }
    }
  }
  @media screen and (max-width: 479px) {
    .topics .content th {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1.25em 0 0 0;
      border-bottom: 0;
    }
    .topics .content td {
      display: block;
      width: 100%;
    }
  }
}

// 施設案内
.institution {
  background: url(../images/content.jpg);
  @include background;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    h2 {
      color: #fff;
      text-align: left;
    }

    p {
      color: #fff;
      text-align: left;
      margin-bottom: 70px;
    }
    .btn {
      @include btn(#fff, #333, #fff);
      width: 200px;
      font-size: 0.875rem;
    }
  }
  @media screen and (max-width: 479px) {
    .institution .content {
      left: 50%;
      transform: translate( -50%, -50%);
    }
    .institution h2,p {
      text-align: center;
    }
    .institution p.btn a {
      width: 30%;
      min-width: 200px;
      margin: 0 auto;
    }
  }
}

// 採用情報
.recruit {
  padding: 10% 0;
  position: relative;

  @include recruit-bg;

  ul {
    @include flex;
    flex-wrap: wrap;
    transform: skewY(2deg);

    li {
      width: 48%;
      position: relative;

      figure::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 43%;
        background: rgba(50, 50, 50, 0.7);
        z-index: 1;
        transition: all .6s ease;
      }

      span {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(-2deg);
        z-index: 2;
        color: #fff;
        font-size: 2rem;
        text-align: center;
      }

      a:hover figure::after {
        background: rgba(50, 50, 50, 0.4);
        transition: all .6s ease;
      }
    }
  }
  @media screen and (max-width: 767px) {
    ul {
      transform: none;
    }
    li span {
      transform: translate(-50%,-50%);
      font-size: 1.75rem;
    }
  }
  @media screen and (max-width: 479px) {
    .recruit ul li {
      width: 90%;
      margin: 0 auto 20px auto;
    }
  
    .footer .high h1,.low {
      text-align: center;
    }
  }
}

// 問い合わせ
.contact {
  width: 100%;
  height: 500px;
  background: url(../images/contact.jpg);
  @include background;
  @include flex;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  ul {
    @include flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    
    li {
      @include btn(#fff, #333, #fff);
      width: 300px;
      margin: 0 50px;
      font-size: 1.25rem;
    }
  }
}

// フッター
.footer {
  padding-top: 100px;
  .high {
    @include flex;
    border-bottom: 1px solid #333;
    h1 {
      font-size: 1.5rem;
    }
    ul {
      display: flex;

      li a {
        color: #333;
        margin: 0 25px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .low {
    padding: 25px 0 80px 0;
    color: #333;

    span {
      padding-left: 1em;
    }
  }
  p {
    text-align: center;
    font-size: 0.75rem;
  }
  @media screen and (max-width: 767px) {
    .high {
      flex-direction: column;
      text-align: center;
      ul {
        justify-content: start;
        margin: 15px 0px;
        li {
          margin: 0 0 10px;
        }
      }
    }
    .low {
      text-align: center;
    }
  }
}



// 施設案内ページ
.sv-company {
  @include sub-visual;
  background-image: url(../images/fv-company.jpg);
}

.work-description01,
.work-description02 {
  margin: 100px;

  dl {
    width: 100%;
    position: relative;

    img {
      width: 60%;
      height: 400px;
      object-fit: cover;
    }

    dd {
      width: 60%;
      position: absolute;
      top: 30%;
      right: 0;
      background-color: #fff;
      padding: 20px 30px;
      box-shadow: 1px 1px 10px 1px #666;
      line-height: 1.8;
      z-index: 2;
    }
  }
  @media screen and (max-width: 1199px) {
    margin: 100px 30px 0;
    dl dt img{
      height: auto;
    }
    dl dd {
      top: 20%;
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 767px) {
    margin: 150px 10px 150px;
    dl dd {
    top: 10%;
    padding: 10px 10px;
    font-size: 12px;
      h2 {
        font-size: 18px;
      }
    }
  }
}

.work-description02 {
  dt {
    display: flex;
    justify-content: flex-end;
  }

  dd {
    top: 40%;
    left: 0%;
  }
}

// 採用情報
.sv-recruit {
@include sub-visual;
background-image: url(../images/sv-recruit.jpg);
}


// お問い合わせ
.sv-contact {
  @include sub-visual;
  background-image: url(../images/sv-contact.jpg);
}

.form-content {
  margin: 100px 100px 0;
  dl {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px dotted #676767;

    &:first-of-type {
      border-top: 1px dotted #676767;
    }
    dt {
      width: 200px;
      box-sizing: border-box;
    }
    input,
    select,
    textarea {
      font-size: 1rem;
      color: #777;
      border: 1px solid #555;
      background-color: #f5f5f5;
      box-sizing: border-box;
      padding: 5px;
    }
  }

  .name dd input,
  .furigana dd input,
  .tel dd span,
  .zip dd span  {
    margin: 0 20px;
  }

  .mail dd input,
  .address dd input {
    width: 700px;
  }

  .pref dd select {
    width: 200px;
  }

  textarea {
    width: 300px;
    height: 140px;
    line-height: 2em;
    padding: 5px;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    margin: 50px auto 0 auto;

    input {
      display: block;
      width: 250px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      background-color: #333;
      border: 1px solid #333;
      margin: 0 15px;
      cursor: pointer;
      transition: .3s ease all;

      &:hover {
        background-color: transparent;
        color: #333;
        transition: .3s ease all;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    margin: 80px 50px 0;
    dl {
      display: block;
      dt {
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin: 20px 10px 0;
    dt {
      font-size: 16px;
    }
    .name dd input,
    .furigana dd input {
      width: 150px;
      margin: 0 10px;
    }
    .tel dd input,
    .zip dd input {
      width: 100px;
    }
    .mail dd input,
    .address dd input {
      width: 100%;
    }
  }
}
